{% extends "base.html" %}
{% block title%}Discover and discuss music{% endblock %}

{% block content %}
<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div id="now-playing-wrapper" class="col-md-3">
        <h5>Now Playing</h5>
        <div id="ppp-container">
          <div id="ppp-player">
            <div id="soundcloud-container" class="hide">
              <iframe id="soundcloud" scrolling="no" frameborder="no"></iframe>
            </div>
            <div id="youtube-container" class="hide">
              <div id="youtube"></div>
            </div>
          </div>
          <div id="ppp-controls" class="text-center">
            <div class="btn-group">
              <button class="btn btn-primary btn-lg" id="ppp-prev">
                <i class="fa fa-backward"></i>
              </button>
              <button class="btn btn-primary btn-lg" id="ppp-play">
                <i class="fa fa-play"></i>
              </button>
              <button class="btn btn-primary btn-lg" id="ppp-next">
                <i class="fa fa-forward"></i>
              </button>
            </div>
          </div>
          <div id="ppp-info" class="text-center">
            <h6 class="title"></h6>
            <div class="source"></div>
          </div>
        </div>
      </div>
      <div id="playlist-wrapper" class="col-md-6">
        <ul class="list-inline no-margin-btm">
          <li><h5 id="current-playlist-name">Trending now</h5></li>
        </ul>
        <div id="playlist-container">
          <div class="list-group" id="playlist">

          </div>
        </div>
      </div>
      <div id="sidebar" class="col-md-3">
        <div class="box">
          <h5>Playlists</h5>
          <ul class="list-group" id="saved-playlists-list">
            <li class="list-group-item active"><a class="saved-playlist" data-name="default_playlist" href="#"><i class="fa fa-globe"></i> Trending Now</a></li>
          </ul>
        </div>
        <div class="box">
          <h5>Sources</h5>
          <ul class="list-inline">
            {% for data_source in data_sources %}
            <li>
              <a id="{{ data_source.key.id() }}" href="#" class="data-source" data-source-id="{{ data_source.key.id() }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Include music from {{ data_source.display_name }}">
                <img src="/static/img/{{ data_source.key.id() }}.png" width="24" height="24">
              </a>
            </li>
            {% endfor %}
          </ul>
          <a href="#about" data-toggle="modal">More info.</a>
        </div>
        <div class="box">
          <h5 class="no-margin-top">What's Polyphony?</h5>
          <p>We bring you the most discussed music on the web right now. Go beyond just discovering music — discuss it with music lovers just like you!</p>
          <p><a href="#about" data-toggle="modal">Learn more.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="new-playlist-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal" id="new-playlist-form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New Playlist</h4>
        </div>
        <div class="modal-body">
            <fieldset>
            <div class="form-group">
              <label class="col-md-3 control-label" for="textinput">Playlist Name</label>  
              <div class="col-md-9">
                <input id="new-playlist-name" name="new-playlist-name" value="My New Playlist" type="text" maxlength="100" class="form-control input-md">
                <input type="hidden" name="new-playlist-track" id="new-playlist-track">
              </div>
            </div>
            </fieldset>
            <p class="text-danger text-center hide" id="new-playlist-error"></p>
        </div>
        <div class="modal-footer">
          <button type="submit" disabled="disabled" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="playlist-dropdown">
  <a href="#" class="add-to-playlist list-group-item" data-playlist-name="new-playlist" data-track-number="">
    <span><i class="fa fa-plus"></i></span>
    <span>Create New Playlist</span>
  </a>
</div>

<div id="about" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About Polyphony</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p><span class="logo">Polyphony</span> helps you discover music, both old and new, that is being discussed on the web right now &mdash; from music blogs to social media, we bring you fresh and hot music that's not only being listened to, but actually being discussed.</p>
            <p>Enhance your music discovery experience and join the discussion now!</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <p><span class="logo">Polyphony</span> gathers data from these sources:</p>
          </div>
        </div>
        {% for row in data_sources | slice(2) %}
        <div class="row">
          {% for data_source in row %}
          <div class="col-md-6 source-box">
            <h5>
              <a class="data-source-icon on" href="{{ data_source.info_link }}" target="_blank">
                <img src="/static/img/{{ data_source.key.id() }}.png" width="24" height="24">
              </a>
              <a href="{{ data_source.info_link }}" target="_blank">{{ data_source.display_name }}</a>
            </h5>
            <p>{{ data_source.description }}</p>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
        <div class="row">
          <div class="col-md-6 source-box">
            <h5>More sources coming soon!</h5>
            <p>We're working hard on adding more sources to keep your playlist even more diverse and fresh. Check back soon for updates.</p>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-success" data-dismiss="modal">
              Great, back to music!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

