<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!--
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#polyphony-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      -->
    </div>
    <!--
    <div class="collapse navbar-collapse" id="polyphony-nav">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
      </ul>
    </div>
    -->
  </div>
</nav>